body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
}

.stopwatch {
    margin-top: 50px;
    background-color: #20c8a1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.display {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0fefff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #00bfff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    margin-bottom: 5px;
    background-color: #91e7ff;
    padding: 10px;
    border-radius: 5px;
}
